{% extends 'base.html.twig' %}

{% block title %}FICHE Formulaire{% endblock %}

{% block stylesheets %}

    <style>
        .fixed{
            position: fixed;
            bottom: 25px;
            right: 81px;
            z-index: 12;
        }

        .card .card-content {
            padding: 24px;
        }

        .input-field {
            position: relative;
            margin-top: 1rem;
            background-color: white;
        }

        .select-wrapper + label {
            color: #3e3838 !important;
            font-size: 1.1rem !important;
            position: absolute;
            top: -37px;
        }
        label.active {
            width: 100%;
            color: #3e3838 !important;
            font-size: 1.3rem !important;
            top: -8px;
        }
        fieldset {
            padding: .35em .75em .625em;
            border-color: black;
        }
        legend {
            display: table;
            max-width: 100%;
            white-space: normal;
            color: black;
            font-weight: bold;
        }

        .cardBlue {
            border: solid 5px #70cdf7;
        }
        .cardBeige {
            background-color: #b7e8ee;
        }

        h3{
            color: black !important;
            font-weight: bold !important;
        }


    </style>
{% endblock %}

{% block body %}
    <!-- BEGIN: Page Main-->
    <div id="main" style="display: none">
        <div class="row">
            <div class="content-wrapper-before gradient-45deg-light-blue-cyan"></div>
            <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper" style="margin-top: -100px">
                <!-- Search for small screen-->
                <div class="container">
                    <div class="row">
                        <div class="col s10 m6 l6">
                            <ol class="breadcrumbs mb-0">
                                <li class="breadcrumb-item"><a href="{{ app.session.get('searchUrl') }}">Accueil</a>
                                </li>
                                <li class="breadcrumb-item"><a class="active">Fiche du Patient</a> </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pt-1 pb-0" id="breadcrumbs-wrapper">
                <!-- Search for small screen-->
                <div class="container">
                    <div class="row">
                        <div class="col s12 m6 l6">
                            <h5 class="breadcrumbs-title white-text"><span>Fiche Formulaire THYMUS</span></h5>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col s12">
                <div class="container">

                    <div class="row">
                        <div class="col s12">
                            <div id="input-fields" class="card card-tabs">
                                <div class="card-content">
                                    <div id="view-input-fields">
                                        <div class="row">
                                            <div class="col s12 m4">
                                                <h3 class="card-title">Caractéristiques initiales du patient</h3>
                                                <span class="black-text">IPP DU PATIENT : </span> <span>{{ patient.ipp }}</span> <br/>
                                                <span class="black-text" >ELIOS : </span> <span>{{ patient.elios }}</span><br/>
                                                <span class="black-text" >PRENOM : </span><span>{{ patient.prenom }}</span><br/>
                                                <span class="black-text" >NOM : </span><span> {{ patient.nom }}</span><br/>
                                                <span class="black-text" >DATE DE NAISSANCE : </span><span>{{ patient.ddn|date("d-m-Y") }}</span><br/>
                                                <span class="black-text" >SEXE : </span><span>{{ patient.sexe}}</span><br/>
                                                <span class="black-text" >CHIRURGIEN REFERENT : </span><span>{{ patient.chirurgienReferent }} {{ patient.autreChirurgienReferent }}</span><br/>
                                                <span class="black-text" >SERVICE ADRESSEUR : </span><span>{{ patient.serviceAdresseur }} {{ patient.serviceAdresseurAutre }}</span>

                                            </div>

                                            <div class="col s12 m4">
                                                <h3 class="card-title">Risque du patient</h3>
                                                <span class="black-text">PS : </span> <span>{{ patient.ps }}</span> <br/>
                                                <span class="black-text" >SCORE DE CHARLSON : </span> <span>{{ patient.scoreCharlson }}</span><br/>
                                                <span class="black-text" >SYNDROME PARANEOPLASIQUE : </span><span>{{ patient.syndromeParaneo }}</span><br/>
                                                <span class="black-text" >MODE DE DECOUVERTE : </span><span> {{ patient.modeDeDecouverte }}</span><br/>
                                                <span class="black-text" >COMORBIDITES : </span><span>
                                                    {% if patient.avc %}
                                                        AVC/
                                                    {% endif %}
                                                    {% if patient.obesite %}
                                                        Ob&eacute;sit&eacute;/
                                                    {% endif %}
                                                    {% if patient.hta %}
                                                        HTA/
                                                    {% endif %}
                                                    {% if patient.dyslipide %}
                                                        Dyslipid&eacute;mie/
                                                    {% endif %}
                                                    {% if patient.insRenChr %}
                                                        Insuffisance r&eacute;nale chronique/
                                                    {% endif %}
                                                    {% if patient.maladieThroVein %}
                                                        Maladie thrombo-embolique veineuse/
                                                    {% endif %}
                                                    {% if patient.diabete %}
                                                        Diab&egrave;te ({{ patient.coDiabeteTxt }}) /
                                                    {% endif %}
                                                    {% if patient.coChirurgie %}
                                                        Chirurgie ({{ patient.coChirurgieTxt }}) /
                                                    {% endif %}
                                                    {% if patient.cancer %}
                                                        Cancer ({{ patient.cancerTxt }}) /
                                                    {% endif %}
                                                    {% if patient.cardiopathie %}
                                                        Cardiopathie ({{ patient.cardiopathieTxt }}) /
                                                    {% endif %}
                                                    {% if patient.coRespiratoire %}
                                                        Respiratoire ({{ patient.coRespiratoireTxt }}) /
                                                    {% endif %}
                                                    {% if patient.tabagisme %}
                                                        Tabagisme ({{ patient.tabagismeTxt }}) /
                                                    {% endif %}
                                                    {{ patient.resteRiques }}

                                                </span>
                                                <br><br>
                                                <span class="black-text" >POIDS : </span><span>{{ patient.poids }} KG</span><br/>
                                                <span class="black-text" >TAILLE : </span><span>{{ patient.taille }} CM</span><br/>
                                                <span class="black-text" >IMC : </span><span>{{ patient.imc }} KG/M²</span><br/>
                                                <span class="black-text" >AGE : </span><span>{{ patient.age }} ANS</span>
                                            </div>

                                            <div class="col s12 m4">
                                                <h3 class="card-title">Myasthénie</h3>
                                                <span class="black-text" >MALADIE AUTI IMMUNE ASSOCIEE :</span> <span>{{ patient.maladiAutoImmAssoc }}</span><br/>
                                                <span class="black-text" >CS PRE OP NEURO :</span> <span>{{ patient.consNeuDepMgPreOp }} {{ patient.autreConsNeuDepMgPreOp }}</span><br/>
                                                <span class="black-text" >SCORE MYASTH PRE OP :</span> <span>{{ patient.scoreMyastPreOp }}</span><br/>
                                                <span class="black-text" >TRAITEMENT DE FOND MYASTH :</span> <span>{{ patient.traiFondMyasthenie }} {{ patient.autreTraiFondMyasthenie }}</span><br/>
                                                <span class="black-text" >IMMUNOGLOBULINES PRE OP: </span> <span>{{ patient.immunoPreop }}</span><br/>
                                                <span class="black-text" >EPP : </span> <span>
                                                    {% if patient.eppAutre == "Autre" %}
                                                        {{ patient.eppAutre }}
                                                    {% else %}
                                                        {{ patient.epp }}
                                                    {% endif %}</span><br/>
                                                <span class="black-text" >ANTICORPS ANTI RACH</span> <span>
                                              {% if patient.anticorpsAntiRach == "Autre" %}
                                                  {{ patient.anticrAutre }}
                                              {% else %}
                                                  {{ patient.anticorpsAntiRach }}
                                              {% endif %}
                                            </span>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col s12 m4">
                                                <h3 class="card-title">Imagerie</h3>
                                                <span class="black-text" >IRM : </span> <span>{{ patient.irm }}  (
                                                    {% if patient.kystique %}
                                                        Kystique/
                                                    {% endif %}
                                                    {% if patient.nonKystique %}
                                                        Non Kystique/
                                                    {% endif %}
                                                    {% if patient.solide %}
                                                        Solide/
                                                    {% endif %}
                                                    {% if patient.mixte %}
                                                        Mixte/
                                                    {% endif %}
                                                    {% if patient.tissulaire %}
                                                        Tissulaire/
                                                    {% endif %}
                                                    {% if patient.nonrealise %}
                                                        Non réalisée/
                                                    {% endif %}
                                                    {% if patient.homogene  %}
                                                        Homogène/
                                                    {% endif %}
                                                    {% if patient.regulier  %}
                                                        Régulière/
                                                    {% endif %}
                                                    {% if patient.limiter  %}
                                                        Limitée/
                                                    {% endif %}
                                                    {% if patient.donneeinconnue  %}
                                                        Donnée inconnue
                                                    {% endif %}
                                                    )</span><br/>
                                                <span class="black-text" >TDM : </span> <span> {{ patient.tdm }} </span><br/>
                                                <span class="black-text" >Taille TDM : </span> <span>{% if patient.autreTdm %} {{ patient.autreTdm }} CM{% endif %} </span> <br/>
                                                <span class="black-text" >Commentaire TDM : </span> <span> {{ patient.tdmAutre }} </span> <br/>
                                                <span class="black-text" >TEPSCAN : </span> <span> {{ patient.petscan }} :  {{ patient.autrePetscan }}</span><br/>
                                                <span class="black-text" >Commentaire TEP : </span> <span> {{ patient.petscanAutre }}</span>
                                            </div>

                                            <div class="col s12 m4">
                                                <h3 class="card-title">PRE OPERATOIRE {{ patient.preOpXTnm }}TNM</h3>
                                                <span class="black-text" >T :</span> <span>
                                                {% if patient.tnmT == "Autre" %}
                                                    {{ patient.autreTnmT }}
                                                {% else %}
                                                    {{ patient.tnmT }}
                                                {% endif %}
                                                </span><br/>
                                                <span class="black-text" >N :</span> <span>
                                                {% if patient.tnmN == "Autre" %}
                                                    {{ patient.autreTnmN }}
                                                {% else %}
                                                    {{ patient.tnmN }}
                                                {% endif %}
                                                </span><br/>
                                                <span class="black-text" >M :</span> <span>
                                                {% if patient.tnmM == "Autre" %}
                                                    {{ patient.autreTnmM }}
                                                {% else %}
                                                    {{ patient.tnmM }}
                                                {% endif %}
                                                </span><br/>
                                                <span class="black-text" >STADE TNM :</span> <span>
                                                {% if patient.tnmStadeCtnm == "Autre" %}
                                                    {{ patient.autreStade }}
                                                {% else %}
                                                    {{ patient.tnmStadeCtnm }}
                                                {% endif %}
                                                </span><br/>
                                                <span class="black-text" >STADE MASAOKA PRE OP : </span> <span> {{ patient.stadeMasaokaPreOp }} </span><br/>
                                                <span class="black-text" >STADE TNM :</span> <span>
                                                {% if patient.histoPreOp == "Autre" %}
                                                    {{ patient.autreHistoPreOp }}
                                                {% else %}
                                                    {{ patient.histoPreOp }}
                                                {% endif %}
                                                </span><br/>
                                                <span class="black-text" >BIOPSIE PRE OP :</span> <span>
                                                {% if patient.modeObtHisPreOpe == "Autre" %}
                                                    {{ patient.autreModeObtHisPreOpe }}
                                                {% else %}
                                                    {{ patient.modeObtHisPreOpe }}
                                                {% endif %}
                                                </span>
                                            </div>

                                            <div class="col s12 m4">
                                                <br>
                                                <span class="black-text" >TISSUS CONGELE : </span> <span> {{ patient.tissuCongele }} </span><br/>
                                                <span class="black-text" >DATE DIAG ACP : </span> <span> {% if patient.dateDiagAcp %} {{ patient.dateDiagAcp|date("d-m-Y") }} {% endif %} </span><br/>
                                                <span class="black-text" >ID ACP : </span> <span> {{ patient.idAcp }} </span><br/>
                                                <span class="black-text" >DIAG ACP THYMONE : </span> <span> {{ patient.diagACPThymone }} </span>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col s12 m4">
                                                <h3 class="card-title">RCP RYTHMIC</h3>
                                                <span class="black-text" >RCP RYTHMIC : </span> <span> {{ patient.rcpRythmique }} </span><br>
                                                <span class="black-text" >DATE : </span> <span> {% if patient.rcpRythmiqueDate %} {{ patient.rcpRythmiqueDate|date("d-m-Y") }} {% endif %} </span><br/>
                                                <span class="black-text" >TTT PRE OP : </span> <span> {{ patient.tttPreOp }} </span><br>
                                                <span class="black-text" >CHIMIO PRE OP : </span> <span> {{ patient.chimioPreOp }} </span><br>
                                                <span class="black-text" >REPONSE : </span> <span> {{ patient.reponseChimioPreOp }} </span><br>
                                                <span class="black-text" >AUTRE PRE OP : </span> <span> {{ patient.autrePreop }} </span><br>
                                                <span class="black-text" >INDICATION : </span> <span> {{ patient.indication }} </span><br>
                                                <span class="black-text" >RCP PREOP  : </span> <span> {{ patient.dossierPrePreop }} </span><br>
                                                <span class="black-text" >ITV CONFORME  : </span> <span> {{ patient.intervConvforRcp }} {{ patient.commInterConfRcp }} </span><br>
                                                <span class="black-text" >RCP POSTOP  : </span> <span> {{ patient.dossierPrePost }} </span><br>
                                                <span class="black-text" >DECISION  : </span> <span> {{ patient.decisionConRcp }} {{ patient.commDeciConRcp }} </span><br>
                                                <span class="black-text" >PATIENT INCLU DANS LE PROTOCOLE  : </span> <span> {{ patient.patientInProtocole }} {{ patient.commPatInProtocole }} </span>
                                            </div>
                                            <div class="col s12 m4">
                                                <h3 class="card-title">CHIRURGIE</h3>
                                                <span class="black-text" >DATE : </span> <span> {% if patient.chirDateOpe %} {{ patient.chirDateOpe|date("d-m-Y") }} {% endif %} </span><br/>
                                                <span class="black-text" >ABORD : </span> <span>
                                                    {% if patient.chirAbord == "Autre" %}
                                                        {{ patient.autreChirAbord }}
                                                    {% else %}
                                                        {{ patient.chirAbord }}
                                                    {% endif %}
                                                </span><br>
                                                <span class="black-text" >ROBOT : </span> <span> {{ patient.chirRoboAssist }} </span><br>
                                                <span class="black-text" >INSUFLATION CO2 : </span> <span> {{ patient.insufflationCo2 }} </span><br>
                                                <span class="black-text" >GESTE : </span> <span>
                                                                                                    {% if patient.chirGeste == "Autre" %}
                                                                                                        {{ patient.autreChirGeste }}
                                                                                                    {% else %}
                                                                                                        {{ patient.chirGeste }}
                                                                                                    {% endif %}
                                                </span><br>
                                                <span class="black-text" >CONVERSION : </span> <span> {{ patient.conversion }} </span><br>
                                                <span class="black-text" >COMMENTAIRE : </span> <span> {{ patient.commentaire }} </span><br>
                                                <span class="black-text" >RESECTION ETENDUE A : </span> <span>
                                                                                       {% if patient.vcs %}
                                                                                           VCS /
                                                                                       {% endif %}
                                                    {% if patient.tvi %}
                                                        TVI /
                                                    {% endif %}
                                                    {% if patient.od %}
                                                        OD /
                                                    {% endif %}
                                                    {% if patient.og %}
                                                        OG /
                                                    {% endif %}
                                                    {% if patient.aorte %}
                                                        Aorte /
                                                    {% endif %}
                                                    {% if patient.ap %}
                                                        AP /
                                                    {% endif %}
                                                    {% if patient.pericard %}
                                                        P&eacute;ricarde /
                                                    {% endif %}
                                                    {% if patient.phreniqued %}
                                                        Phr&eacute;nique droit /
                                                    {% endif %}
                                                    {% if patient.phreniqueg %}
                                                        Phr&eacute;nique gauche /
                                                    {% endif %}
                                                    {% if patient.pneud %}
                                                        Pneumonectomie droit /
                                                    {% endif %}
                                                    {% if patient.pneug %}
                                                        Pneumonectomie gauche /
                                                    {% endif %}
                                                    {% if patient.wedge %}
                                                        Wedge ({{ patient.wedgeTxt }}) /
                                                    {% endif %}
                                                    {% if patient.lobectomie %}
                                                        Lobectomie ({{ patient.lobectomieTxt }}) /
                                                    {% endif %}
                                                    {{ patient.chirTxtLibre }}
                                                </span><br>
                                                <span class="black-text" >DUREE : </span> <span> {{ patient.chirDuree }} MINS</span><br>
                                                <span class="black-text" >SANG : </span> <span> {{ patient.chirDuree }} ML</span><br>
                                                <span class="black-text" >DECES PER OPE : </span> <span> {{ patient.mortaliteParOpe }}</span><br>
                                                <span class="black-text" >COMPLICATION PER OPE : </span> <span> {{ patient.complicationPreOpe }}</span><br>
                                                <span class="black-text" >DRAINAGE : </span> <span> {{ patient.chirDrainage }}</span><br>
                                                <span class="black-text" >QUALITE RESECTION : </span> <span> {{ patient.qualiteResection }}</span>
                                            </div>
                                            <div class="col s12 m4">
                                                <h3 class="card-title">POST OPERATOIRE {{ patient.xTnm }}TNM</h3>
                                                <span class="black-text" >T :</span> <span>
                                                {% if patient.anapathPostOp == "Autre" %}
                                                    {{ patient.autreAnapathPostOp }}
                                                {% else %}
                                                    {{ patient.anapathPostOp }}
                                                {% endif %}
                                                </span><br/>
                                                <span class="black-text" >T :</span> <span>
                                                {% if patient.postTnmT == "Autre" %}
                                                    {{ patient.autrePostTnmT }}
                                                {% else %}
                                                    {{ patient.postTnmT }}
                                                {% endif %}
                                                </span><br/>
                                                <span class="black-text" >N :</span> <span>
                                                {% if patient.postTnmN == "Autre" %}
                                                    {{ patient.autrePostTnmN }}
                                                {% else %}
                                                    {{ patient.postTnmN }}
                                                {% endif %}
                                                </span><br/>
                                                <span class="black-text" >M :</span> <span>
                                                {% if patient.postTnmM == "Autre" %}
                                                    {{ patient.autrePostTnmM }}
                                                {% else %}
                                                    {{ patient.postTnmM }}
                                                {% endif %}
                                                </span><br/>
                                                <span class="black-text" >STADE TNM :</span> <span>
                                                {% if patient.postTnmStadeCtnm == "Autre" %}
                                                    {{ patient.autrePostTnmStadeCtnm }}
                                                {% else %}
                                                    {{ patient.postTnmStadeCtnm }}
                                                {% endif %}
                                                </span><br/>

                                                <span class="black-text" >MASAOKA POST OP : </span> <span> {{ patient.masaokaPostOp }} </span><br/>
                                                <span class="black-text" >MASAOKA-KOGA : </span> <span> {{ patient.masaokoKoga }} </span><br/>

                                                <br>
                                                <br>

                                                <span class="black-text" >REANIMATION/USC POST OP : </span> <span>{{ patient.reaUscPostOp }}</span><br/>
                                                <span class="black-text" >DUREE REANIMATION : </span> <span>{{ patient.dureeRean }}</span><br/>

                                                <span class="black-text" >COMPLICATIONS POST OP :</span> <span>

                                    {% if patient.postOpSuites %}

                                        {% if patient.decesChe %}
                                            D&eacute;c&egrave;s /
                                        {% endif %}
                                        {% if patient.pousse %}
                                            Pouss&eacute;e myasth&eacute;nique /
                                        {% endif %}
                                        {% if patient.paralysie %}
                                            Paralysie phr&eacute;nique /
                                        {% endif %}
                                        {% if patient.paralysieCur %}
                                            Paralysie concurrentielle /
                                        {% endif %}
                                        {% if patient.pneumopatie %}
                                            Pneumopathie /
                                        {% endif %}
                                        {% if patient.bullage %}
                                            Bullage > 5 jours /
                                        {% endif %}
                                        {% if patient.decollement %}
                                            D&eacute;collement /
                                        {% endif %}
                                        {% if patient.saignement %}
                                            Saignement /
                                        {% endif %}
                                        {% if patient.infection %}
                                            Infection /
                                        {% endif %}
                                        {% if patient.decompPost %}
                                            Décompensation post op ({{ patient.commDecomPost }}) /
                                        {% endif %}
                                        {{ patient.autrePostOpSuites }}
                                    {% endif %} <br>
                                     <span class="black-text" >DUREE DRAINAGE : </span> <span>{{ patient.postOpDureeDrainage }} jour(s)</span><br/>
                                        <span class="black-text" >DATE SORTIE: </span> <span> {% if patient.postOpDateSortie %} {{ patient.postOpDateSortie|date("d-m-Y") }} {% endif %} </span><br/>
                                                </span>
                                                <span class="black-text" >DUREE HOSPI : </span> <span>{{ patient.dureeHosp }} jour(s)</span><br/>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col s12 m4">
                                                <h3 class="card-title">Traitement complémentaire</h3>
                                                <span class="black-text">TTT POST OP : </span> <span> {{ patient.tttPostOp }}  </span><br/>
                                                <span class="black-text">CHIMIO POST OP : </span> <span> {{ patient.chimioPostOp }}</span><br/>
                                                <span class="black-text">RADIOTHERAPIE POST OP : </span> <span> {{ patient.radiotherapiePostOp }}</span><br/>
                                            </div>

                                            <div class="col s12 m4">
                                                <h3 class="card-title"> RECIDIVE : {{ patient.recidive }}</h3>
                                                <span class="black-text">DATE RECIDIVE : </span> <span> {% if patient.dateRecidive %} {{ patient.dateRecidive|date("d-m-Y") }} {% endif %} </span><br/>
                                                <span class="black-text">LOCALISATION : </span> <span> {{ patient.localisationRecidive }}</span><br/>
                                                <span class="black-text">TRAITEMENT A LA RECHUTE : </span> <span> {{ patient.traitementRechuteRecidive }}</span><br/>
                                            </div>

                                            <div class="col s12 m4">
                                                <h3 class="card-title"></h3>
                                                <span class="black-text">N° ACP : </span> <span> {{ patient.numAcp }}  </span><br/>
                                                <span class="black-text">DATE DES DERN NOUVELLES : </span> <span> {% if patient.dateDerNouvelles %} {{ patient.dateDerNouvelles|date("d-m-Y") }} {% endif %} </span><br/>
                                                <span class="black-text">SUIVI MYASTHENIE : </span> <span> {{ patient.suiviMyasthenie }}</span><br/>
                                                <span class="black-text">SCORE MYASTHENIE postop : </span> <span> {{ patient.scoreMyastPreOp }}</span><br/>
                                                <span class="black-text">DECES : </span> <span> {{ patient.deces }} {{ patient.causeDeces }}</span><br/>
                                            </div>

                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col s12 m12">
                                                <h3 class="card-title"></h3>
                                                <span class="black-text">COMMENTAIRE : </span> <span> {{ patient.commentaireLast }}  </span><br/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- END: Page Main-->

{% endblock %}

{% block javascripts %}

{% endblock %}




