{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/data-tables/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/pages/data-tables.min.css">


    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/flag-icon/css/flag-icon.min.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/quill/quill.snow.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/pages/app-email.min.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/custom/custom.css">

    <style>
        select {
            display: block;
            width: 100%;
            height: 3rem;
            padding: 5px;
            border: 1px solid #f2f2f2;
            border-radius: 2px;
            background-color: rgba(255,255,255,.9);
        }
    </style>
{% endblock %}

{% block body %}
    <!-- BEGIN: Page Main-->
    <div id="main" style="display: none">
        <div class="row">
            <div class="content-wrapper-before gradient-45deg-light-blue-cyan"></div>

            <div class="row">
                <div class="col s12">
                    <div id="input-fields" class="card card-tabs">
                        <div class="card-content">
                            <div class="card-title">
                                <div class="row">
                                    <div class="col s12 m6 l10">
                                        <h3 class="card-title">Rechercher un patient </h3>
                                    </div>
                                </div>
                            </div>


                            <div id="view-input-fields_10">
                                <div class="row">
                                    <form action="" method="get">
                                        <div class="row">
                                            <div class="col m3">
                                                <div class="input-field">
                                                    <input type="text" value="" class="validate" id="search-ipp"  name="ipp">
                                                    <label for="search-ipp">IPP :  </label>
                                                </div>
                                            </div>

                                            <div class="col m3">
                                                <div class="input-field">
                                                    <input type="text" value="{{ recherche.nom }}" class="validate" id="search-nom"  name="nom">
                                                    <label for="search-nom">Nom :  </label>
                                                </div>
                                            </div>

                                            <div class="col m3">
                                                <div class="input-field">
                                                    <input type="text" value="{{ recherche.prenom }}" class="validate" id="search-prenom"  name="prenom">
                                                    <label for="search-prenom">Prénom :  </label>
                                                </div>
                                            </div>
                                            <div class="col m3">
                                                <a href="{{ path('formulaire') }}" class="waves-effect waves-light  btn"><i class="material-icons left">add</i> Nouveau Patient</a>
                                            </div>


                                        </div>

                                        <div class="row">
                                            <div class="col m3">
                                                <div class="input-field">
                                                    <input type="date" {% if recherche.dateNaissance %} value="{{ recherche.dateNaissance|date('Y-m-d') }}"  {% endif %} class="validate" id="search-datenaissance" placeholder=""  name="datenaissance">
                                                    <label for="search-datenaissance">Date de naissance :</label>
                                                </div>
                                            </div>

                                            <div class="col m3">
                                                <div class="input-field">
                                                    <input type="date"  class="validate" id="search-datechir" placeholder=""  name="datechir">
                                                    <label for="search-datechir">Date chirurgie: </label>
                                                </div>
                                            </div>

                                            <div class="col m3">
                                                <div class="input-field">
                                                    <input type="text" value="{{ recherche.referent }}" class="validate" id="search-referent"  name="referent">
                                                    <label for="search-referent">Chirurgien référent :  </label>
                                                </div>
                                            </div>


                                            <div class="col m3 right-align" style="margin-top: 29px">
                                                <div class="col m3 right-align">
                                                    <button type="submit" name="rechercher" class="btn-small  waves-effect waves-light gradient-45deg-light-blue-cyan gradient-shadow "> Rechercher </button>
                                                </div>

                                                <a href="{{ path('acceuil') }}" style="margin-top:-10px" class="mb-6 btn-floating waves-effect gradient-45deg-light-blue-cyan gradient-shadow">
                                                    <i class="material-icons">autorenew</i>
                                                </a>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            {% if patients|length != 0 %}
            <div class="users-list-table">
                <div class="card">
                    <div class="card-content">
                        <!-- datatable start -->
                        <div class="responsive-table">
                            <form action="{{ path('liste') }}" method="post">
                            <table id="multi-select" class="display">
                                <thead>
                                <tr>
                                    <th>
                                        <label>
                                            <input onchange="" autocomplete="off" id="toutlesdocs" type="checkbox" class="select-all" />
                                            <span></span>
                                        </label>
                                    </th>
                                    <th></th>
                                    <th>IPP</th>
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                    <th>Date de naissance</th>
                                    <th>Date Chirurgie</th>
                                    <th>Chirurgien référent</th>
                                    <th>Modifier</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for patient in patients %}
                                    <tr>
                                        <th>
                                            <label>
                                                <input onchange="" name="patients[]" value="{{ patient.id }}" autocomplete="off" type="checkbox" class="filled-in" />
                                                <span></span>
                                            </label>
                                        </th>
                                        <td></td>
                                        <td>{{ patient.ipp }}</td>
                                        <td>{{ patient.prenom }}</td>
                                        <td>{{ patient.nom }}</td>
                                        <td>{{ patient.ddn|date("d-m-Y") }}</td>
                                        <td>{{ patient.chirDateOpe|date("d-m-Y") }}</td>
                                        <td>
                                            {% if patient.chirurgienReferent != "Autre" %}
                                                {{ patient.chirurgienReferent }}
                                            {% else %}
                                                {{ patient.autreChirurgienReferent }}
                                            {% endif %}
                                        </td>
                                        <td><a href="{{ path('formulaire.edit', {'id': patient.id}) }}"><i class="material-icons">edit</i></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                                <div class="row center-align">
                                    <button class="btn waves-effect waves-light " type="submit" name="action">VISUALISER
                                        <i class="material-icons right">remove_red_eye</i>
                                    </button>
                                </div>

                            </form>
                            <br><br>
                        </div>
                        <!-- datatable ends -->
                    </div>
                </div>
            </div>

            {% endif %}

            <div class="content-overlay"></div>
        </div>
    </div>

    <!-- END: Page Main-->
{% endblock %}

{% block javascripts %}
    <script src="../../../app-assets/vendors/data-tables/js/jquery.dataTables.min.js"></script>
    <script src="../../../app-assets/vendors/data-tables/extensions/responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../../app-assets/vendors/data-tables/js/dataTables.select.min.js"></script>
    <script src="../../../app-assets/js/search.min.js"></script>

    <script src="../../../app-assets/vendors/sortable/jquery-sortable-min.js"></script>
    <script src="../../../app-assets/vendors/quill/quill.min.js"></script>
    <script src="../../../app-assets/js/custom/custom-script.min.js"></script>
    <script src="../../../app-assets/js/scripts/app-email.min.js"></script>

    <script src="{{ asset('app-assets/js/scripts/my_data_table.js') }}"></script>


{% endblock %}
