

<div class="card search pinned">
    <div class="card-content">

        {{ form_start(form) }}
        <div class="row">
            <div class="col m6">{{ form_row(form.ipp) }}</div>
            <div class="col m6">{{ form_row(form.prenom) }}</div>
        </div>
        <div class="row">
            <div class="col m6">{{ form_row(form.nom) }}</div>
            <div class="col m6">{{ form_row(form.ddn) }}</div>
        </div>
        <div class="row">
            <div class="col m6">{{ form_row(form.ageMin) }}</div>
            <div class="col m6">{{ form_row(form.ageMax) }}</div>
        </div>
        <div class="row">
            <div class="col m6">{{ form_row(form.sexe) }}</div>
            <div class="col m6">{{ form_row(form.service_adresseur) }}</div>
        </div>

        <div class="row">
            <fieldset>
                <legend>Opération effectuée entre :</legend>
                <div class="col m6">{{ form_row(form.chir_date_ope_min) }}</div>
                <div class="col m6">{{ form_row(form.chir_date_ope_max) }}</div>
            </fieldset>
        </div>
        <div class="divider"></div>

        <button class="btn waves-effect waves-light green " type="submit" name="action" style="position: fixed;top:89vh">Rechercher
            <i class="material-icons right">add</i>
        </button>
        {{ form_end(form) }}

    </div>
</div>

