<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google.">
        <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template, eCommerce dashboard, analytic dashboard">
        <meta name="author" content="ThemeSelect">
        <title>{% block title %}THYMUS{% endblock %}</title>
        <link rel="apple-touch-icon" href="{{ asset('app-assets/images/logo_thymus.png') }}">
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('app-assets/images/logo_thymus.png') }}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- BEGIN: VENDOR CSS-->
        <link rel="stylesheet" type="text/css" href="{{asset('app-assets/vendors/vendors.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('app-assets/vendors/flag-icon/css/flag-icon.min.css')}}">
        <link rel="stylesheet" href="{{asset('app-assets/vendors/noUiSlider/nouislider.min.css')}}" type="text/css">
        <!-- END: VENDOR CSS-->
        <!-- iziToas t-->
        <link rel="stylesheet" type="text/css" href="{{ asset('app-assets/iziToast-master/dist/css/iziToast.min.css') }}">

        <!-- BEGIN: Page Level CSS-->
        <link rel="stylesheet" type="text/css" href="{{asset('app-assets/css/themes/horizontal-menu-template/materialize.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('app-assets/css/themes/horizontal-menu-template/style.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('app-assets/css/layouts/style-horizontal.min.css')}}">
        <!-- END: Page Level CSS-->
        <!-- BEGIN: Custom CSS-->
        <link rel="stylesheet" type="text/css" href="{{asset('app-assets/css/custom/custom.css')}}">

        <style>
            #breadcrumbs-wrapper .breadcrumbs .active {
                font-weight: 400;
                color: #c0c0c0 !important;

            }

            label {
                font-size: 1.1rem !important;
                color: #5d5555 !important;
                font-weight: bold !important;
            }
            #breadcrumbs-wrapper.breadcrumbs-dark .breadcrumbs-title, #breadcrumbs-wrapper.breadcrumbs-dark a {
                color: rgba(255,255,255,.85);
                font-size: 1.5rem !important;
            }

            header .brand-logo img {
                height: 35px;
            }


        </style>

        {% block stylesheets %}{% endblock %}
    </head>
    <body class="horizontal-layout page-header-light horizontal-menu preload-transitions 2-columns"
          data-open="click" data-menu="horizontal-menu"
          data-col="2-columns">

    <!-- BEGIN: Header-->
    <header class="page-topbar" id="header">
        <div class="navbar navbar-fixed">
            <nav class="navbar-main navbar-color nav-collapsible sideNav-lock navbar-dark gradient-45deg-light-blue-cyan">
                <div class="nav-wrapper">
                    <ul class="left">
                        <li>
                            <h1 class="logo-wrapper"><a class="brand-logo darken-1" href="{{ path('acceuil') }}"><img src="{{ asset('app-assets/images/logo.png') }}" alt="materialize logo"><span class="logo-text hide-on-med-and-down">THYMUS</span></a></h1>
                        </li>
                    </ul>
                    <!--
                    <div class="header-search-wrapper hide-on-med-and-down"><i class="material-icons">search</i>
                        <input class="header-search-input z-depth-2" type="text" name="Search" placeholder="Explore Materialize" data-search="template-list">
                        <ul class="search-list collection display-none"></ul>
                    </div>
                    -->
                    <ul class="navbar-list right">
                        <li class="hide-on-med-and-down"><a class="waves-effect waves-block waves-light toggle-fullscreen" href="javascript:void(0);"><i class="material-icons">settings_overscan</i></a></li>
                        <li class="hide-on-med-and-down">{{app.session.get('user')}}</li>
                        <li class="hide-on-large-only"><a class="waves-effect waves-block waves-light search-button" href="javascript:void(0);"><i class="material-icons">search</i></a></li>
                        <li><a class="waves-effect waves-block waves-light profile-button" href="javascript:void(0);" data-target="profile-dropdown"><span class="avatar-status avatar-online"><img src="../../../app-assets/images/avatar/user.png" alt="avatar"><i></i></span></a></li>
                    </ul>

                    <!-- profile-dropdown-->
                    <ul class="dropdown-content" id="profile-dropdown">
                        <li><a class="grey-text text-darken-1" href="#"><i class="material-icons">person_outline</i>Aide ?</a></li>
                        <li class="divider"></li>
                        <li><a class="grey-text text-darken-1" href="{{ path('logout') }}"><i class="material-icons">lock_outline</i> Logout</a></li>
                    </ul>
                </div>

            </nav>
            <!-- BEGIN: Horizontal nav start-->
        </div>
    </header>

        {% block body %}{% endblock %}



    <!-- BEGIN: Footer-->

    <footer id="footer" class="page-footer footer footer-static footer-dark gradient-45deg-light-blue-cyan gradient-shadow navbar-border navbar-shadow">
        <div class="footer-copyright">
            <div class="container"><span>&copy; {{ "now"|date('Y') }}          <a href="https://imm.fr" target="_blank">IMM</a> All rights reserved.</span><span class="right hide-on-small-only">Design and Developed by <a href="https://github.com/mohamet003">IMM-DSI</a></span></div>
        </div>
    </footer>

    <script type="application/javascript">
        RunFile()
        function RunFile() {
           // WshShell = new ActiveXObject("Shell.Application");
          //  WshShell = new ActiveXObject("WScript.Shell");
        //    WshShell.Run("C:\\Program Files (x86)\\smsi\\cws\\release 3.1\\CWSRun.exe /USERNAME=TRNDSI /PASSWORD=TRNDSI /UAC=XXXX","","","open","1");
        }
    </script>
    <!-- END: Footer-->
    <!-- BEGIN VENDOR JS-->
    <script src="{{asset('app-assets/js/vendors.min.js')}}"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="{{asset('app-assets/vendors/noUiSlider/nouislider.js')}}"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN THEME  JS-->
    <script src="{{asset('app-assets/js/plugins.min.js')}}"></script>
    <script src="{{asset('app-assets/js/search.min.js')}}"></script>
    <script src="{{asset('app-assets/js/custom/custom-script.min.js')}}"></script>
    <script src="{{asset('app-assets/js/scripts/customizer.min.js')}}"></script>
    <!-- END THEME  JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="{{asset('app-assets/js/scripts/form-elements.min.js')}}"></script>
    <script src="{{ asset('app-assets/iziToast-master/dist/js/iziToast.min.js') }}"></script>
    <script src="{{ asset('app-assets/js/axios.js') }}"></script>

    <!-- Minified version of `es6-promise-auto` below. -->
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>

    {# read and display all flash messages #}

    {% for label, messages in app.flashes %}
        {% for message in messages %}

            {% if label == "error" %}
            <script>
                iziToast.error({
                    timeout: 10000,
                    position: 'topRight',
                    id: 'question',
                    displayMode: 2, // 'once', 'replace'
                    title: 'Erreur',
                    message: '{{ message }}',
                });
            </script>
            {% endif %}

            {% if label == "succes" %}
            <script>
                iziToast.success({
                    position: 'topRight',
                    id: 'question',
                    displayMode: 2, // 'once', 'replace'
                    timeout: 10000,
                    title: 'Succes',
                    message: '{{ message }}',
                });
            </script>
            {% endif %}

            {% if label == "info" %}
            <script>
                iziToast.info({
                    timeout: 10000,
                    position: 'topRight',
                    id: 'question',
                    displayMode: 2, // 'once', 'replace'
                    title: 'Info',
                    message: '{{ message }}',
                });
            </script>
            {% endif %}

            {% if label == "alert" %}
            <script>
                iziToast.warning({
                    timeout: 10000,
                    position: 'topRight',
                    id: 'question',
                    displayMode: 2, // 'once', 'replace'
                    title: 'Alert',
                    message: '{{ message }}',
                });
            </script>
            {% endif %}



        {% endfor %}
    {% endfor %}

    <script>

        function ready() {
            $('#main').fadeIn();
            $('#footer').fadeIn();
        }

        document.addEventListener("DOMContentLoaded", ready);
       $(document).ready(function () {
           $('.input-field label').each(function () {
               if (!$(this).parent().find(".select-dropdown").hasClass("select-dropdown")){
                  $(this).addClass('active');
               }
           })

           if (window.scrollY) {
               window.scroll(0, 0);  // reset the scroll position to the top left of the document.
           }
       })


    </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
